body{
    padding: 100px;
}
.BankTitle{
    text-align: center;
}
.submitArea{
    margin-top: 70px;
    margin-left: 170px;
    margin-right: 170px;
    padding: 50px;
    border-radius: 10px;
    box-shadow: 5px 5px 15px rgb(188, 201, 204);

}
.submitArea2{
    margin-top: 150px;
    padding: 40px;
    border-radius: 10px;
    box-shadow:5px 5px 12px rgb(188, 201, 204);
    height: 200px;
    width: 450px;
    margin-left: 100px;
    
}
#transaction-area{
    display: none;
}
.deposit{
    background-color: slateblue;
}
.withdraw{
    background-color: lightsalmon;
}
.balance{
    background-color: orange;
}
.status{
    margin: 0px 10px;
    color: white;
    border-radius: 10px;
    padding: 25px;
}